<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script
        src=" https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">
        <div class="grid-7 element-animation">
            <!--card-1-->
            <div class="card color-card">
                <!-- <ul>
                    <li><i class="fas fa-arrow-left i-l w"></i></li>
                    <li><i class="fas fa-ellipsis-v i-r w"></i></li>
                    <li><i class="far fa-heart i-r w"></i></li>
                </ul> -->
                <img src="{% static 'css/img/profile.png' %}"
                    alt="profile-pic" class="profile">
                <h1 class="title"> User 1</h1>
                <p class="job-title"> Email: user@team.com</p>
                <p class="job-title"> Team: Dallas Mavs</p>
                <div class="desc top">
                    <p>maybe option for bio here</p>
                </div>
                <button class="btn color-a top"> Edit Account</button>

                <hr>
                <!-- <div class="container">
                    <div class="content">
                        <div class="grid-2">
                            <button class="color-b circule"> <i class="fab fa-dribbble fa-2x"></i></button>
                            <h2 class="title">12.3k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-c circule"><i class="fab fa-behance fa-2x"></i></button>
                            <h2 class="title">16k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-d circule"><i class="fab fa-github-alt fa-2x"></i></button>
                            <h2 class="title">17.8k</h2>
                            <p class="followers">Followers</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <!--card-2-->

        <div class="grid-7 element-animation">
            <div class="card color-card-2">
                <!-- <ul>
                    <li><i class="fas fa-arrow-left i-l b"></i></li>
                    <li><i class="fas fa-ellipsis-v i-r b"></i></li>
                    <li><i class="far fa-heart i-r b"></i></li>
                </ul> -->
                <img src="{% static 'css/img/profile.png' %}"                    alt="profile-pic" class="profile">
                <h1 class="title">Team Name</h1>
                <p class="job-title"> team info here</p>
                <div class="desc top">
                    <p>team info here</p>
                </div>
                <!-- <button class="btn color-a top"> Hire me</button> -->
                

                 <hr class="hr-2">
                <!--<div class="container">
                    <div class="content">
                        <div class="grid-2">
                            <button class="color-b circule"> <i class="fab fa-dribbble fa-2x"></i></button>
                            <h2 class="title-2">12.3k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-c circule"><i class="fab fa-behance fa-2x"></i></button>
                            <h2 class="title-2">16k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-d circule"><i class="fab fa-github-alt fa-2x"></i></button>
                            <h2 class="title-2">17.8k</h2>
                            <p class="followers">Followers</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">




</body>

</html>